@{
    Layout = null;
}
@using Models
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <title>主页</title>
</head>
<body>
    @{
        foreach (UserInfo item in ViewBag.UserList)
        {

            <div>
                @(item.UserName)
            </div>
            <div>
                @(item.Password)
            </div>
        }
    }
<input type="text" name="password" id="password" value=""/>
<input type="button" name="submit" id="submit" value="提交"/>
<script>
    var submit = $('#submit');
    submit.on('click', function() {
        $.post('/Home/Update', {
            password: $('#password').val()
    }, function(data) {
            console.debug(data);
        });
    });
</script>
</body>
</html>